@import url('https://cdn.jsdelivr.net/gh/leetaewook/gmarket-sans-dynamic-subset/GmarketSans.css');
@unocss all;

@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
    url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff2') format('woff2'),
    url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff');
}

@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
    url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff2')
      format('woff2'),
    url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff') format('woff');
}

@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
    url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff2') format('woff2'),
    url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff') format('woff');
}

/* 나머지 스타일 */
:root {
  --background: #fff;
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  background: var(--background);
}

/* GmarketSans is only applied when the gmarket class is explicitly used */
.gmarket {
  font-family: 'Gmarket Sans', sans-serif;
}

a {
  text-decoration: none;
}

a:visited,
a:active {
  text-decoration: none;
}

/* 버튼 & SVG 아이콘의 기본 스타일 제거 */
button {
  background: transparent;
  border: solid;
  padding: 0;
}
